/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

}

header, nav, section, footer {
    padding: 20px;
    margin: 10px;
    background-color: #1e1d1d;
    border: 1px solid #ccc;
}

/* Estilos para el encabezado */
header {
    text-align: center;
    color: #1194ec;
}

/* Estilos para la navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #000;
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    clear: both;

    
}

/* Estilos para la sección principal */
section {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Estilos para la barra lateral */
aside {
    float: right;
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #0b0000;
    border: 1px solid #090000;
}

/* Estilos para la sección principal */
article {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
}


table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* estilos aboutme */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #000509;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    /*background-color: #f4f7fa ;*/
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: rgb(6, 5, 5);
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #000305;
}

section#about {
    padding: 20px;
    background-color: #000000;
    text-align: justify;
}

/* Asegurarse de que las imágenes no se salgan del marco en dispositivos móviles */
.foto-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centrar la imagen horizontalmente */
}

/* Opcional: Añadir estilos adicionales para la sección "fotos" */
#fotos {
    padding: 10px;
    box-sizing: border-box;
}

