/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos para el encabezado */
header {
    text-align: center;
    color: #1194ec;
    background-color: #1e1d1d; /* Asegúrate de que el fondo sea oscuro */
    padding: 20px;
}

header img {
    max-width: 100%;
    height: auto;
    border-radius: 50%; /* Opcional: para hacer la imagen circular */
}

/* Estilos para la navegación */
nav {
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li button {
    margin: 5px;
}

/* Estilos para los botones de navegación */
.btn-primary {
    background-color: #1194ec;
    border: none;
}

.btn-primary:hover {
    background-color: #0e7acc;
    color: #fff;
}

/* Estilos para la sección principal */
section {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 800px; /* Ajusta el ancho máximo según sea necesario */
}

/* Estilos para la barra lateral */
aside {
    float: right;
    width: 30%;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Estilos para la sección principal */
article {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}